<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="active">
                        <i class="bi bi-circle"></i><span></span>
                    </a>
                    <a asp-area="Admin" asp-controller="AdminUsers" asp-action="Index" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Users</span>
                    </a>
                    <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Roles</span>
                    </a>
                    <a asp-area="Admin" asp-controller="Cart" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Carts</span>
                    </a>
                    <a asp-area="Admin" asp-controller="CartDetail" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Cart Details</span>
                    </a>
                    <a asp-area="Admin" asp-controller="AdminBills" asp-action="Index" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Bills</span>
                    </a>
                    <a asp-area="Admin" asp-controller="AdminBillDetails" asp-action="Index" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý Bill Details</span>
                    </a>
                    <a asp-area="Admin" asp-controller="FavouriteShoes" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span> Sản Phẩm Yêu Thích</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->
    </ul>
</aside>
