<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý thanh toán</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Bill" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý hóa đơn</span>
                    </a>
                    <a asp-controller="PaymentMethod" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý phương thức thanh toán</span>
                    </a>
                    <a  asp-controller="ShipMethod" asp-action="Show" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý phương thức vận chuyển</span>
                    </a>
                    <a  asp-controller="Location" asp-action="ShowAllLocation" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý vị trí</span>
                    </a>
                   
                </li>
            </ul>
        </li><!-- End Tables Nav -->
    </ul>
</aside>
